.num {
    background-color: rgb(31, 87, 9);
    padding: 5px;
    display: flex;
    align-items: center;
    width: 20px;
    color: white;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 0; 
    left: 0; 
}
.number {
    background-color: rgb(7, 103, 248);
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    width: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 0; 
    left: 0; 
}